body {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #ffcc00;
    height: 150px;
    width: 1200px;
}

main {
    display: flex;
    gap: 12px;
}

aside {
    background-color: #9b59b6;
    height: 300px;
    width: 300px;
}

section {
    background-color: #1abc9c;
    height: 300px;
    width: 888px;
}

footer {
    background-color: #e74c3c;
    height: 100px;
    width: 1200px;
}