body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    outline: 1px solid rgb(215, 215, 215);
    color: white;
}

header {
    background-color: #1E90FF;
    text-align: center;
    padding: 20px;
    color: white;
    width: calc(100% - 40px);
}

header h1 {
    margin: 0;
}

.container {
    display: flex;
    padding: 20px;
    flex: 1;
    gap: 40px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #DCDCDC;
    padding: 20px;
}

.left-panel .box {
    width: 200px;
    padding: 68px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-panel .box {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.top-bar, .main-content {
    display: flex;
    gap: 20px;
}

.box {
    background-color: #F08080;
    text-align: center;
    border-radius: 5px;
}

footer {
    background-color: #FF4500;
    color: white;
    text-align: center;
    padding: 20px;
    width: calc(100% - 40px);
}

footer p {
    margin: 0;
}

